.form-container {
    width: 60%;
    margin: auto;
}

.form-grid {
    display: grid;
    grid-auto-flow: row;
    margin-bottom: .5em;
}

.form-label {
    color: var(--black);
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1em;
}

.form-submit {
    background-color: var(--button);
    color: var(--white);
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1em;
    border: none;
    padding: .5em 1em;
}

.form-input {
    
}