.form-container {
    width: 40%;
    margin: 1em auto 0;
}

.form-grid {
    display: grid;
    grid-auto-flow: row;
    margin-bottom: .5em;
}

.form-description {
    text-align: center;
    margin-bottom: 1em;
}

.form-label {
    color: var(--black);
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1em;
}

.form-container form div input {
    padding: .2em .5em;
}

.form-container form div input:focus {
    border: 1px solid var(--title);
    outline: none;
}

.errorlist {
    color: red;
}