{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/acerca_de.css' %}">
{% endblock %}

{% block extra_title %}
<div class="container-title">
    <h1 class="title">CONOCÉ NUESTRAS<br>ESPECIALIDADES </h1>
    <p class="title-description">¿Listos para unirse al grupo de caza? Nos encanta crear<br>proyectos que vuelen la
        cabeza, y vos, sos nuestro<br>compañero ideal.</p>
</div>
{% endblock %}

{% block content %}
<section>
    <h2 class="title w100">PERSONAL</h2>
    <div class="grid-c2">
        <div class="card">
            <img class="card-img" src="{% static 'images/modelo.jpg' %}" alt="modelo">
            <h3 class="card-title">Jean Paul</h3>
            <p class="card-p">Programador web, editor de video, camarografo, diseñador</p>
        </div>

        <div class="card">
            <img class="card-img" src="{% static 'images/modelo.jpg' %}" alt="modelo">
            <h3 class="card-title">Dana Moya</h3>
            <p class="card-p">Publicista, dibujante, fotografa, diseñadora</p>
        </div>
    </div>
</section>
{% endblock %}