{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/administracion.css' %}">
{% endblock %}

{% block extra_title %}
<div class="container-title">
    <h1 class="title">Gestión del usuario</h1>
</div>
{% endblock %}

{% block content%}
<section>
    <div class="grid-r">
        <img class="img-b" src="{% static 'images/business-people-having-meeting.jpg' %}" alt="empresa">
        <div class="container-data">
            <h2 class="titulo-b">{{ usuario }}</h2>
            <div class="grid-c">
                <p class="data">Nombre completo: <span>{{ fullname }}</span></p>
                <p class="data">Email: <span>{{ email }}</span></p>
                <p class="data">Empresa: <span>{{ perfil.empresa }}</span></p>
                <p class="data">Ubicación: <span>{{ perfil.ubicacion }}</span></p>
                <p class="data">Teléfono: <span>{{ perfil.telefono }}</span></p>
            </div>
            <div class="container-btn">
                <a class="btn bg-orange" href="{% url 'nueva-cotizacion' %}">Crear cotización</a>
                <a class="btn bg-orange" href="#">Editar perfil</a>
            </div>
        </div>
    </div>

    {% if cotizaciones %}
    {% for object in cotizaciones %}
    <div class="grid-r">
        <img class="w100 img-b" src="{% static 'images/cotizacion.jpg' %}" alt="">
        <div class="container-data">
            <h2 class="titulo-b">{{ object.titulo }}</h2>
            <div class="grid-c">
                <p class="data">Descripción: <span>{{ object.descripcion }}</span></p>
                <p class="data">Servicio: <span>{{ object.servicio }}</span></p>
                {% if object.status == 0 %}
                    <p class="data c-gray">Su solicitud está siendo procesada.</p>
                {% endif %}
                {% if object.status == 1 %}
                    <p class="data c-green">Solicitud aceptada, en breve le contactaremos.</p>
                {% endif %}
                {% if object.status == 2 %}
                    <p class="data c-red">Solicitud rechazado, lo sentimos.</p>
                {% endif %}
            </div>
            <div class="container-btn">
                {% if object.status == 0 %}
                <a class="btn bg-orange" href="{% url 'editar-cotizacion' object.pk %}">Editar cotización</a>
                {% endif%}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif%}
</section>

<!--
<section class="grid-r">
    <div class="block">
        <img class="w100 img-b" src="{% static 'images/business-people-having-meeting.jpg' %}" alt="empresa">
        <div>
            <h1 class="titulo-b">{{usuario}}</h1><br>
            <p class="b">Nombre completo: {{fullname}}</p><br>
            <p class="b">Email: {{email}}</p>      <br>  
            <p class="b">Ultimo inico: {{inicio}}</p><br>
        </div>
        <div> 
            <p class="bb sp">Empresa:   {{perfil.empresa}}</p><br>
            <p class="bb">Ubicacion: {{perfil.ubicacion}}</p>      <br>  
            <p class="bb">Mercado:   {{perfil.mercado}}</p><br>
            <p class="bb">Telefono:  {{perfil.telefono}}</p><br>
        </div>
        <div class="grid-r-3">
            <div class="r2">
                <a class="btn" href="{% url 'nueva-cotizacion'%}">Nueva cotizacion</a>
            </div>
        </div>
        
    </div>
    
    {% if cotizaciones %}
        {% for object in cotizaciones %}
            <div class="block">
                <img class="w100 img-b" src="{% static 'images/cotizacion.jpg' %}" alt="">
                <div class="end4">
                    <h1 class="titulo-b">{{object.titulo}}</h1><br>
                    <p class="b">Servicio:{{object.servicio}}</p><br>
                    <p class="b">Descripcion:   {{object.descripcion}}</p>
                </div>
                <div class="grid-r-3">
                    <div class="r2">
                        {%if object.status == 0 %}
                            <a class="btn" href="{% url 'editar-cotizacion' object.pk  %}">Editar cotizacion</a>
                        {% endif%}
                    </div>
                    <p class="p3">
                        {%if object.status == 0 %}
                            Su Solicitud esta siendo procesada
                        {% endif%}
                        {%if object.status == 1 %}
                            Su Solicitud fue aceptada en breve le contactaremos
                        {% endif%}
                        {%if object.status == 2 %}
                            Lamentablemente no podemos haceptar su solicitud
                        {% endif%}
                    </p>
                </div>
            </div>
        {% endfor %}
    {% endif%}


</section>
-->

<!-- <p> {{cotizaciones}}</p> -->
{% endblock %}


{% block js %}

{% endblock %}