{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/usuario.css' %}">
{% endblock %}

{% block extra_title %}
<div class="container-title">
    <br>
    <h1 class="title">Gestion del Administrador</h1>
</div>
{% endblock %}

{% block content%}
<section>
    <div class="grid-r">
        <img class="img-b" src="{% static 'images/business-people-having-meeting.jpg' %}" alt="empresa">
        <div class="container-data">
            <h2 class="titulo-b">{{ usuario }}</h2>
            <div class="grid-c">
                <p class="data">Nombre completo: {{ fullname }}</p>
                <p class="data">Email: {{ email }}</p>
                <p class="data">Último inico: {{ inicio }}</p>
                <p class="data">Empresa: {{ perfil.empresa }}</p>
                <p class="data">Ubicación: {{ perfil.ubicacion }}</p>
                <p class="data">Mercado: {{ perfil.mercado }}</p>
                <p class="data">Teléfono: {{ perfil.telefono }}</p>
            </div>
        </div>
    </div>

    {% if cotizaciones %}
    {% for object in cotizaciones %}
    <div class="grid-r">
        <img class="w100 img-b" src="{% static 'images/cotizacion.jpg' %}" alt="">
        <div class="container-data">
            <h2 class="titulo-b">{{ object.titulo }}</h2>
            <div class="grid-c">
                <p class="data">Servicio: {{ object.servicio }}</p>
                <p class="data">Descripción: {{ object.descripcion }}</p>
            </div>
            <div class="container-btn">
                {% if object.status == 0 %}
                <a class="btn bg-green" href="{% url 'aceptar-cotizacion' object.pk  %}">Aceptar</a>
                <a class="btn bg-red" href="{% url 'rechazar-cotizacion' object.pk  %}">Rechazar</a>
                {% endif%}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif%}
</section>
{% endblock %}