{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
<section class="form-container">
    <form action="." method="post">
            {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-grid">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
        <input type="submit" value="Save">
     </form>
</section>
{% endblock %}