{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block extra_title %}
<div class="container-title">
    <h1 class="title">INICAR SESIÓN</h1>
</div>
{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<section class="form-container">
    <form action="." method="post">
        <input type="hidden" name="next" value="{{ next }}">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-grid">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <input class="button" type="submit" value="Acceder">
    </form>
</section>
{% endblock %}