{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/portafolio.css' %}">
{% endblock %}

{% block extra_title %}
<div class="container-title">
    <h1 class="title">PORTAFOLIO</h1>
    <p class="title-description">Te invitamos a darle un vistazo a nuestras cacerías.</p>
</div>
{% endblock %}

{% block content %}
<section>
    <div class="portafolio">
        <img class="p-img" src="{% static 'images/portafolio1.png' %}" alt="">
        <div class="inner-grid">
            <h2 class="title-left">Bar Secretos</h2>
            <p class="p-p">Secretos es un Bar Restaurante Lounge ubicado en San Ramon Centro, en la provincia de
                Alajuela. La campaña estará planeada para el período Abril-Junio, tomando el mes de Marzo para
                preparación de la misma.</p>
        </div>
    </div>

    <div class="portafolio bk">
        <img class="w100" src="{% static 'images/portafolio4.jpg' %}" alt="">
        <div class="inner-grid">
            <h2 class="title-left">Diseño editorial</h2>
            <p class="p-p b">Secretos es un Bar Restaurante Lounge ubicado en San Ramon Centro, en la provincia de
                Alajuela.La campaña estará planeada para el período Abril-Junio, tomando el mes de Marzo para
                preparación de la misma.</p>
        </div>
    </div>

    <div class="portafolio gr">
        <img class="w100" src="{% static 'images/portafolio2.jpg' %}" alt="">
        <div class="inner-grid">
            <h2 class="title-left">Logo y publicidad</h2>
            <p class="p-p b">Secretos es un Bar Restaurante Lounge ubicado en San Ramon Centro, en la provincia de Alajuela. La campaña estará planeada para el período Abril-Junio, tomando el mes de Marzo para preparación de la misma.</p>
        </div>
    </div>

    <div class="relative">
        <img class="display-block w100" src="{% static 'images/portafolio3.jpg' %}" alt="">
        <img class="paper-end" src="{% static 'images/paper-gray.png' %}" alt="paper">
    </div>
</section>
{% endblock %}