{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block extra_title %}
<div class="container-title">
    <h1 class="title">CONTACTANOS</h1>
</div>
{% endblock %}

{% block content %}
<section class="form-container">
    <p class="form-description"><a title="Iniciar sesión" class="form-label" href="{% url 'iniciar-sesion' %}">Inicia sesión</a><br>
        o<br>
        Para una mejor atención, regístrese<br>completando el formulario para crear una cuenta<br>como cliente y enviar
        su primer proyecto,<br>a la brevedad le llamaremos.</p>
    <form action="." method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-grid">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <input class="button" type="submit" value="Enviar">
    </form>
</section>
{% endblock %}